@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-Bold.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-Italic.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fantasque Sans Mono', sans-serif;
}

html * {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

img {
  max-width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd786;
}

.wrapper {
  height: 400px;
  width: 500px;
}

.app-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
}

.menu-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.divider {
  height: 1px;
  background-color: #000;
  margin: 15px 0;
}

.book-icon {
  padding: 0 5px;
  border-left: 1px solid #000;
  font-size: 24px;
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  color: #fff;
}

.btn:focus {
  outline: none;
  color: #fff;
}

.btn.medium {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.btn.success {
  background-color: #21ba45;
}

.btn.danger {
  background-color: #db2828;
}

/* #21ba45
#db2828
#b5cc18
#2185d0 */

.book {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 38px;
  margin-bottom: 5px;
  border: 2px solid #000;
  border-radius: 5px;
}

.book--non-fiction {
  border-color: #21ba45;
}

.book--fiction {
  border-color: #db2828;
}

.book>div {
  display: flex;
  align-items: center;
}

.book__title {
  flex-grow: 1;
  padding: 0 10px;
  font-size: 20px;
}

.book__date {
  font-size: 12px;
  border-left: 1px solid #000;
  padding: 0 5px;
}

.book__rate {
  padding: 0 5px;
  border-left: 1px solid #000;
}

.modal-top {
  text-align: center;
  font-size: 22px;
}

.modal-form__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.modal-form__label {
  width: 140px;
}

.modal-form__field {
  width: 240px;
}

.modal-form__field input:not([type="checkbox"]), .modal-form__field textarea {
  outline: none;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.tooltiper {
  position: relative;
}

.tooltiper i:hover~.book-tooltip {
  display: block;
}

.book-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 14px;
  z-index: 10;
}