@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-Bold.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-Italic.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('./fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
       url('./fonts/FantasqueSansMono-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fantasque Sans Mono', sans-serif;
}

html * {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

img {
  max-width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdcf72;
}

.wrapper {
  height: 400px;
  width: 600px;
}

.app-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 15px;
}

.menu-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}